*{
  box-sizing: border-box
}
.App {
  display: flex;
  flex-direction: column;
  gap: 10px
}

#icon-id{
  border: 1px solid black;
}

#textarea-section{
  display: flex;
  flex-direction: row;
  width: 50vw;
  border:  solid 1px var(--black);
  background-color: var(--black);
}

#textarea-pop{
  align-self: flex-end;
}

.small-box{
  max-height: 20px;
  max-width: 200px;
  border: solid salmon 1px;
}
